.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido entre header y footer */
.main {
  flex: 1;  /* Hace que ocupe todo el espacio vertical restante */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f9ff;
  padding-top: 70px;    /* Ajustar si el Header es fijo */
  padding-bottom: 40px; /* Espacio para Footer si es fijo */
}

/* Contenedor del componente */
.container {
  width: 100%;
  max-width: 1000px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f9ff;
  padding: 20px;
  border-radius: 12px;
  font-family: 'Comic Sans MS', sans-serif;
  box-shadow: 0 0 10px rgba(0, 105, 96, 0.1);
  box-sizing: border-box;
}
